@import url(https://fonts.googleapis.com/css2?family=Zen+Dots);
@import url(https://fonts.googleapis.com/css2?family=Alata);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
}

p {
    line-height: 1.8;
}

h1, h2, h3, h4, h5 , h6 {
font-family: 'Muli', sans-serif; font-weight:normal;
padding-bottom: 30px;
}


ol {
    line-height:1.5;
}



#content {
    padding:30px 100px;
}

/* forms */
form {
    overflow:auto;
}

form p {
    width:100%;
    overflow:auto;
}


/* drag and drop */

#modules {
  padding: 20px;
  background: #eee;
  margin-bottom: 20px;
  z-index: 1;
  border-radius: 10px;
}

#dropzone {
  padding: 20px;
  background: #eee;
  min-height: 100px;
  margin-bottom: 20px;
  z-index: 0;
  border-radius: 10px;
  position: relative;
  height: 100%
}

.active {
  outline: 1px solid red;
}

.hover {
  outline: 1px solid blue;
}

.drop-item {
  cursor: pointer;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radisu: 3px;
  border: 1px solid rgb(204, 204, 204);
  position: relative;
}

.drop-item .remove {
  position: absolute;
  top: 4px;
  right: 4px;
}

#save-boton{
        margin: 20px;
        background-color: #04AA6D !important;
        position: fixed;
        bottom: 0px;
        right: 0px;
        border-radius: 50%;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
}
#edit-boton{
        margin: 20px;
        background-color: rgba(231, 18, 18, 0.76) !important;
        position: fixed;
        bottom: 0px;
        right: 0px;
        border-radius: 50%;
        border: none;
        color: white;
        padding: 20px;
        text-align: center;
}

/* login mi codigo */


    #login-body{
        background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.3)),
        url("georgia-vagim-ny-lHmsHYHk-unsplash.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .jumbotron {
        background: transparent;
        color: white;
    }
    /*clinica veterinaria*/
    .jumbotron h1 {
        font-weight: bold;
         font-family: 'Zen Dots', cursive;
    }
    #forgotten-psw{
    color: black;

    }

    /* container de form */
    .form-container {
      max-width: 300px;
      padding: 10px;
      background-color: transparent;
    }

    /* Full-width input fields */
    .form-container input[type=text], .form-container input[type=password], .form-container input[type=email] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      border: none;
      background: #f1f1f1;
      border-radius: 5px;
    }

    /* When the inputs get focus, do something */
    .form-container input[type=text]:focus, .form-container input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }

    /* login button */
    .form-container .btn, #singup-btn {
      background-color: #4CAF50;
      color: white;
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
    }

    /* hover effects to buttons */
    .form-container .btn:hover, .open-button:hover {
      opacity: 1;
    }

    .form {
        display: flex;
        color: white;
    }

    /*pagina de manejo de Users*/

   .div_col {
    height: 100%;
    width: 200px;
   /* position: fixed;*/
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 40px;
   }

   .div_col a{
    padding: 16px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
   }
   .div_col a:hover{
    color: white;
   }

   #v-pills-home-tab {
    padding-top: 100%;
   }

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: transparent;
  }

   @media screen and (max-height: 450px) {
  .div_col {padding-top: 15px;}
  .div_col a {font-size: 18px;}
  }
  #id_username, #id_password, #id_email, #id_first_name, #id_password2{
  background-color: rgba(241, 241, 241, 0.57);
  }
  #id_username label{
  color:withe;
  }

  /*navbar css hecho por mi*/

  .nav-link:active{
  color:none;
  }
  .navbar-nav {
    position: absolute;
    right: 25px;
    font-size: 18px;
  }
 .navbar {
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    transition: 0.6s;
 }

 .navbar-light .navbar-nav .nav-link {
    color:white;
 }
 .navbar-brand{
 color:white !important;
 font-family: 'Zen Dots', cursive;
 font-size: 21px;
 }

 .banner
{
  min-height: 35vh;
  background: linear-gradient(to bottom, rgba(0,0,0,.5), rgba(0,0,0,.3)), url("denise-jans-tV80374iytg-unsplash.jpg") center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
header.sticky,
{
  background-color: #f0f0f0 !important;
  border-bottom: 1px solid rgba(0,0,0,.1) !important;
}
#h1-banner{
color:white;
font-weight: bold;
letter-spacing: 0.1em;
font-size:60px;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
color: grey;
}
span.helptext{
display:none;
}
