{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
<body id="login-body">
   <div class="jumbotron jumbotron-fluid">
        <div class="container ">
            <h2 class="display-4 text-center"">Forgotten your password?</h2>
            <p class="lead text-center">Enter your e-mail address to obtain a new password.</p>

        </div>
   </div>
    <div class="login-form">
        <div id="myForm" class="form justify-content-center">
          <form method="post" class="form-container">
        {{ form.as_p }}
        <p><input id="singup-btn" type="submit" value="Send e-mail"></p>
        {% csrf_token %}
          </form>
        </div>
    </div>
</body>
{% endblock %}