{% extends "base.html" %}

{% block title %}My Lists{% endblock %}

{% block content %}
    <h1>Create List</h1>
    <form name="create_list" method="post">
        {% csrf_token %}
        <select name="themes_selector" id="themes_selector" class="form-select" aria-label="Default select example">
            {% if theme is None %}
              <option selected >Open this select menu</option>
            {% endif %}
             {% for t in themes %}
                {% if theme == t.name %}
                  <option selected value="{{ t.name }}">{{ t.name }}</option>
                {% else %}
                   <option value="{{ t.name }}">{{ t.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% if theme %}
        <div style="padding: 30px;" class="container cards-create-list">
            <div class="row">
                <div class="col">
                {% for item in items %}
                    {% if item.theme.name == theme %}

                            <div class="card drag"  style="max-width: 540px;">
                                  <div class="row g-0" id="{{item.id}}">
                                    <div class="col-md-4">
                                      <img style="width:100%; height:100%" src="{{item.image}}" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                      <div class="card-body">
                                        <h5 class="card-title">{{item.name}}</h5>
                                        <p class="card-text"> {{item.description|truncatewords:20|linebreaks}}</p>
                                      </div>
                                    </div>
                                  </div>
                            </div>

                    {% endif %}
                {% endfor %}

                <input name="item_list" id="item_list" type="hidden" ></input>
                </div>
                <div class="col">
                    <div id="dropzone">
                        <i id="save-boton" class="fas fa-save"></i>
                    </div>
                </div>
            </div>
        </div>

        {% endif %}
   </form>

{% endblock %}